---
import NavBar from "./Components/Hero/NavBar.astro";
import Social from "./Components/Hero/Social.astro";
---

<NavBar />
<div class="h-screen dark:bg-primary dark:text-white px-8 py-11 hero">
	<div class="w-full h-full flex items-center justify-center flex-col gap-2">
		<h1 class="text-8xl font-bold">Anka Tama</h1>
		<h2 class="font-extralight dark:text-gray-200 mt-5">
			Student, Web Developer and a Javascript enthusiast
		</h2>
	</div>
</div>
<Social />

<!-- <style>
	.hero::before 
	{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 0;
		left: 0;
		opacity: 0.5;
		background-image: url("/main.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
</style> -->