---
import Description from "./Components/Projects/Description.astro";
import PostList from "./Components/Projects/PostList.astro";
---

<div class="px-8 py-4 flex items-center justify-between flex-col m-20">
    <Description />
    <PostList />
</div>
