---
import Hero from "./Hero.astro";
import HomeBlog from "./HomeBlog.astro";
import Skills from "./Skills.astro";

---

<div class="bg-primary text-white">
    <Hero />
    <Skills />
    <HomeBlog />
</div>