---
import Hero from "./Hero.astro";
import HomeBlog from "./HomeBlog.astro";
import Projects from "./Projects.astro";
import Skills from "./Skills.astro";

---

<div class="bg-primary text-white">
    <Hero />
    <Skills />
    <Projects />
    <!-- <HomeBlog /> -->
</div>