---
import SkillList from "./Components/Skills/SkillList.astro";
import Titles from "./Components/Titles.astro";
---

<div class="px-8 py-4 flex items-center justify-between m-40 h-[50vh] bg-primary text-white">
	<Titles />
</div>
