---
const Navigation = [
	{
		name: "About",
		target: "/about",
	},
	{
		name: "Contact",
		target: "/contact",
	},

	{
		name: "Porject",
		target: "/project",
	},
];
---

<header class="flex w-full absolute justify-between items-center px-8 py-11" style="z-index: 999;">
	<div
		class="font-bold tracking-wide flex group curzr-hover cursor-none mt-3 transform will-change-transform hover:scale-110 tm"
	>
		<span class="curzr-hover">AN</span>
		<span
			class="tm -translate-y-10 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 curzr-hover"
		>
			D
		</span>
		<span
			class="tm translate-y-10 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 curzr-hover"
			style="transition-delay: 100ms;"
		>
			I
		</span>
		<span class="-translate-x-4 tm group-hover:translate-x-0 curzr-hover">KA</span>
	</div>
	<nav class="flex items-center justify-center gap-5 ">
		{
			Navigation.map((item, index) => (
				<a 
				href={item.target}
					target="_blank"
					rel="noopener noreferrer"
					class="aun dark:text-white opacity-50 hover:opacity-100 hover:-translate-y-1 tm px-2"
				>
					{item.name}
				</a>
			))
		}
	</nav>
</header>
