---
const social = [
	{
		name: "Facebook",
		url: "https://www.facebook.com/ankaistama",
	},
	{
		name: "GitHub",
		url: "https://github.com/icytama",
	},
];
---

<div class="absolute bottom-8 left-0 px-8 w-full flex items-center justify-between">
	<a href="mailto:andikacahargen2@gmail.com" class="aun relative opacity-50 hover:opacity-100 hover:-translate-y-1 tm"> Let's Collaborate</a>
	<div class="flex gap-10">
		{
			social.map((item) => (
				<a
					href={item.url}
					target="_blank"
					rel="noopener noreferrer"
					class="dark:text-white opacity-50 hover:opacity-100 hover:-translate-y-1 tm"
				>
					{item.name}
				</a>
			))
		}
	</div>
</div>
