<div class="fixed flex items-center justify-center w-screen top-0 left-0 z-50">
	<div class="navbar bg-transparent backdrop-blur-sm max-w-6xl">
		<div class="navbar-start">
			<a href="/" class="px-4 font-bold cursor-pointer normal-case text-xl">anka</a>
		</div>

		<div class="navbar-end hidden sm:flex">
			<ul class="menu menu-horizontal px-1">
				<li><a href="mailto:andikcahargen2@gmail.com">Contact</a></li>
				<li><a href="https://github.com/xirf">Github</a></li>
			</ul>
		</div>

		<div class="dropdown bg-transparent backdrop-blur-sm navbar-end flex dropdown-bottom sm:hidden">
			<ul
				tabindex="0"
				class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
			>
				<li><a href="mailto:andikcahargen2@gmail.com">Contact</a></li>
				<li><a href="https://github.com/xirf">Github</a></li>
			</ul>
			<label tabindex="0" class="btn btn-ghost sm:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
				  </svg>				  
			</label>
		</div>
	</div>
</div>
