---
import SelectBox from "./SelectBox.astro";
---

<div class="flex flex-col h-screen sm:flex-row items-start sm:items-center justify-center gap-6 sm:gap-16 relative" id="hero">
	<SelectBox className="z-50 p-3 lg:p-8 min-w-[90px] min-h-[90px] aspect-square">
		<div
			class="bg-yellow-300 rounded-md sm:rounded-xl drop-shadow-2xl shadow font-bold pt-6 sm:pt-12 pl-6 sm:pl-12 pb-2 sm:pb-4 pr-2 lg:pr-4 aspect-square text-xl sm:text-5xl"
		>
			JS
		</div>
	</SelectBox>

	<div class="relative">
		<p class="text-7xl sm:text-9xl font-black absolute  -top-[10%] sm:-top-1/4 -left-[10%] sm:-left-1/4 select-none decor-text">
			ANKA 
		</p>
		<h1 class="text-7xl sm:text-8xl font-medium relative z-10"><span class="text-orange-400">a</span>n<SelectBox className="inline-flex p-0">d</SelectBox>i<span class="relative letter-k">k</span>a</h1>
		<p class="text-lg sm:text-xl my-4">
			An enthusiast <span class={"text-blue-500"}>Fullstack</span> web developer
		</p>
		<div class="flex gap-6 mx-1 z-10">
			{
				["#d63a71", "#fb923c", "#2ee571", "#3183d7"].map((color) => (
					<div
						class={`h-3 w-3`}
						style={`background-color: ${color}; box-shadow: 0 0 4px 0 ${color}50`}
					/>
				))
			}
		</div>

	</div>
    <div class="absolute top-[35%] right-20 sm:right-2/3 w-24 text-center text-white shadow-xl bg-cyan-300">react</div>
    <div class="absolute bottom-1/4 left-3/4 w-28 text-center text-white bg-orange-400 shadow-xl">astro</div>
</div>

<style is:global>
	.decor-text {
		color: #ededf7;
		opacity: 0.2;
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	}

    .letter-k::after{
        content: "k";
        left: 0;
        bottom: 0;
        position: absolute;
        clip-path: polygon(0% 0%, 69% 0%, 40% 30%, 0% 30%);
        transform: translateY(-20%);
        color: #2ee571;
    }
</style>
