---
export interface Props {
    children: JSX.Element | JSX.Element[] | String;
    className: String
}

const {className} = Astro.props;
---

<div class={`relative border-2 border-blue-500 ${className}`}>
    <slot />
	<div class={`absolute w-2  h-2 bg-blue-500 -top-1     -left-1`}></div>
	<div class={`absolute w-2  h-2 bg-blue-500 -top-1     -right-1`}></div>
	<div class={`absolute w-2  h-2 bg-blue-500 -bottom-1  -left-1`}></div>
	<div class={`absolute w-2  h-2 bg-blue-500 -bottom-1  -right-1`}></div>
</div>
