---
import Hero from "./components/Hero.astro";
import Alert from "../../components/Alert.astro";
---

<div class="w-full min-h-screen">
	<Alert
		title={"Howdy buddy"}
		text={"This page is a work in progress. thanks for checking it out!"}
	/>
	<Hero />
</div>
