---
import Hero from "./components/Hero.astro";
import Alert from "../../components/Alert.astro";
import Header from "./components/Header.astro"
---

<div class="w-full min-h-screen">
	<Header />
	<!-- <Alert /> -->
	<Hero />
</div>
