---
import Hero from "./components/Hero.astro";
import Skills from "./components/Skills.astro";
import About from "./components/About.astro";
---

<div class="relative w-full h-screen overflow-hidden">
	<div id="fullpage" class="w-full relative ease-in-out-quart">
		<Hero />
		<About />
		<Skills />
	</div>
</div>

<script is:inline>
const fullpage = document.getElementById("fullpage");
const sections = fullpage.querySelectorAll("section").length;
let moveAbleElement = document.querySelectorAll(".will-move");

let isAnimating = false;
let activeSection = 0;

function onWheel(e) {
    if (isAnimating || (activeSection <= 0 && e.deltaY < 0) || (activeSection >= sections - 1 && e.deltaY > 0)) return;

    if (e.deltaY > 0) {
        activeSection += 1;
    } else {
        activeSection -= 1;
    }

    scrollToSection(activeSection);
}

function onTouchStart(e) {
    const touch = e.touches[ 0 ];
    touchStartY = touch.pageY;

    document.addEventListener("touchmove", onTouchMove);
}

function onTouchMove(e) {
    const touch = e.touches[ 0 ];
    const touchEndY = touch.pageY;

    if (isAnimating || (activeSection <= 0 && touchEndY > touchStartY) || (activeSection >= sections - 1 && touchEndY < touchStartY)) return;

    if (touchEndY > touchStartY) {
        activeSection -= 1;
    } else {
        activeSection += 1;
    }

    scrollToSection(activeSection);
}

function scrollToSection(section) {
    if (isAnimating) return;

    isAnimating = true;

    fullpage.style.transform = `translateY(-${section * 100}vh)`;

    moveAbleElement.forEach((element) => {
        // add animate class up or down based on the direction of the scroll
        if (section > activeSection) {
            element.classList.add("animateUp");
        } else {
            element.classList.add("animateDown");
        }
    });

    setTimeout(() => {
        isAnimating = false;
        moveAbleElement.forEach((element) => {
            element.classList.remove("animateUp", "animateDown");
        });
    }, 1000);
}

document.addEventListener("wheel", onWheel);
document.addEventListener("touchstart", onTouchStart);
document.addEventListener("touchmove", onTouchMove);
</script>
<style is:global>

    .ease-in-out-quart{
        transition: all 1200ms cubic-bezier(0.88, 0, 0.265, 1) 0s;

    }

	.will-move {
		transition: all var(--duration);
	}

	.animateUp {
        animation-delay: var(--delay);
		translate: 0px var(--up);
	}

	.animateDown {
        transition-timing-function: ease-in;
		translate: 0px var(--down);
        transition-delay: var(--delay);
        scale: 1 1.1;
	}

	@keyframes animateUp {
		from {
			translate: translateY(--from);
		}

		to {
			translate: translateY(--to);
		}
	}

	@keyframes animateDown {
		from {
			translate: translateY(--to);
		}

		to {
			translate: translateY(--from);
		}
	}
</style>
