---
---

<div>
    <span class="opacity-30 tm hover:opacity-100 cursor-none curzr-hover flex items-center flex-nowrap group"><div class="w-14 mr-4 h-[1px] dark:bg-white bg-black"/> full of curiosity</span>
	<p class="max-w-lg my-5 dark:text-gray-200 font-extralight">
		I am <span class="font-bold">Andika Nur Pratama</span> a student with a boundless passion for programming, I am constantly amazed by the power
		of programming and the incredible things that can be built with just a lines of code.
	</p>
	<h3 class="text-5xl font-extrabold">Learn. <span class="text-[#D7955B]">Think.</span> </h3>
	<h3 class="text-5xl font-extrabold">Practice.</h3>
</div>
