<div class="py-36 px-10 max-w-screen-2xl min-h-4xl flex items-center relative">
    <div class="hero-decoration bg-sky-50"></div>
    <div class="max-w-xl flex z-10 flex-col gap-5">
        <h1 class="text-5xl font-bold text-black leading-tight">
            Code Wizard Crafting Awesome Idea with a Dash of
            <span class="relative inline-block magic cursor-pointer">
                <span class="magic-star" style="--left: 0%; --top: 30%; --size: 20px">
                    <svg viewBox="0 0 512 512">
                        <path
                            d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                        ></path>
                    </svg>
                </span>
                <span class="magic-star" style="--left: 50%; --top: 70%; --size: 20px">
                    <svg viewBox="0 0 512 512">
                        <path
                            d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                        ></path>
                    </svg>
                </span>
                <span class="magic-star" style="--left: 90%; --top: 10%; --size: 20px">
                    <svg viewBox="0 0 512 512">
                        <path
                            d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                        ></path>
                    </svg>
                </span>
                <span class="magic-text bg-gradient-to-l from-purple-700 via-violet-800 to-fuchsia-800 bg-clip-text hover:text-transparent transition-all duration-500 ">Magic!</span>
            </span>
        </h1>
        <p class="text-xl max-w-md font-light">
            Student and Web Developer on a Journey of Learning and Creativity Mastering JavaScript, Crafting Memorable User Experiences, and Bringing
            Ideas to Life
        </p>
        <div class="flex gap-5 my-5 text-center text-sm">
            <a
                href="#"
                class="rounded-full bg-sky-500 shadow-default shadow-sky-200 hover:shadow-hover hover:shadow-sky-200 transition-all duration-500 ease-in-out hover:-translate-y-1 hover:bg-sky-400 hover:scale-105 text-white px-6 py-3">
                Explore My Work
            </a>
            <a
                href="#"
                class="rounded-full text-sky-500 shadow-default shadow-gray-200 hover:shadow-hover hover:shadow-sky-200 transition-all duration-500 ease-in-out hover:-translate-y-1 hover:bg-sky-400 hover:scale-105 bg-white px-6 py-3 hover:text-white">
                Get In Touch
            </a>
        </div>
    </div>
</div>

<style>
    .hero-decoration {
        position: absolute;
        bottom: 200px;
        width: 1800px;
        height: 1800px;
        left: calc(((1800px - 100%) / -2) - 50px);
        transform: rotate(29deg) skewX(-30deg);
        box-shadow: 0 0 100px #fff, 80px 60px 0px #eff6ff80;
    }

    .magic-star {
        --size: clamp(20px, 1.5vw, 30px);
        animation: scale 1000ms ease forwards;
        display: block;
        height: var(--size);
        left: var(--left);
        position: absolute;
        top: var(--top);
        width: var(--size);
        fill: rgb(123, 31, 162);
        animation-delay: var(--delay);
    }

    .magic-star > svg {
        animation: rotate 1000ms linear infinite;
        display: block;
        opacity: 0.7;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes scale {
        from,
        to {
            transform: scale(0);
        }

        50% {
            transform: scale(1);
        }
    }
</style>

<script>
    // @ts-nocheck
    let index = 0,
        interval = 1000;

    const rand = (min, max) => Math.floor(Math.random() * (max - min + 1)) + min;

    const animate = (star) => {
        star.style.setProperty("--star-left", `${rand(-10, 100)}%`);
        star.style.setProperty("--star-top", `${rand(-40, 80)}%`);

        star.style.animation = "none";
        star.offsetHeight;
        star.style.animation = "";
    };

    let timeouts = [],
        intervals = [];

    const magic = document.querySelector(".magic");

    magic?.addEventListener("mouseenter", () => {
        let index = 1;

        for (const star of document.getElementsByClassName("magic-star")) {
            timeouts.push(
                setTimeout(() => {
                    animate(star);

                    intervals.push(setInterval(() => animate(star), 1000));
                }, index++ * 300)
            );
        }
    });

    magic?.addEventListener("mouseleave", () => {
        for (const t of timeouts) clearTimeout(t);
        for (const i of intervals) clearInterval(i);

        timeouts = [];
        intervals = [];
    });
</script>
