* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Mulish", sans-serif;
}

body{
	margin: 0 !important;
	padding: 0 !important;
}

.tm {
	-webkit-transition: all 700ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 700ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 700ms cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 700ms cubic-bezier(0.77, 0, 0.175, 1),
		all 700ms cubic-bezier(0.77, 0, 0.175, 1);
}

.cb {
	-webkit-transform-origin: right top;
	transform-origin: right top;
}

.ca {
	-webkit-transform-origin: left top;
	transform-origin: left top;
	/* margin-right: 0; */
	-webkit-transform: translateX(-50%) scaleX(0) rotate(0.001deg);
	transform: translateX(-50%) scaleX(0) rotate(0.001deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.aun::after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	transition: -webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1),
		-webkit-transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-webkit-transform: translateX(-30%) scaleX(0) rotate(0.001deg);
	transform: translateX(-30%) scaleX(0) rotate(0.001deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.aun:hover::after {
	-webkit-transform: none;
	transform: none;
}

a{
	cursor: none;
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-thumb {
	background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
	background: #6e6e6e;
}

.strkd {
	/* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
	color: #212331 !important;
	text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px,
		rgb(255, 255, 255) -0.416147px 0.909297px 0px,
		rgb(255, 255, 255) -0.989992px 0.14112px 0px,
		rgb(255, 255, 255) -0.653644px -0.756802px 0px,
		rgb(255, 255, 255) 0.283662px -0.958924px 0px,
		rgb(255, 255, 255) 0.96017px -0.279415px 0px !important;
	/* -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white; */
}