---
import Hamburger from "./Hamburger.astro";

---

<!-- <input type="checkbox" name="menu" id="menu" class="hidden">
<label for="menu"> -->
	<Hamburger />
<!-- </label>

<div class="fixed bg-primary-800 top-0 right-0 w-screen h-screen p-8" style="z-index: 99999;">
	
</div> -->