---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Homepage">
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
	<div class="h-5vh m-20px border-1 border-red"></div>
</Layout>
