---
import Layout from "../layouts/Layout.astro";

const socialMedia = [
	{
		link: "https://github.com/xirf",
		icon: "i-myna-brand-github",
		name: "Github",
	},
	{
		link: "https://www.facebook.com/0xirf",
		icon: "i-myna-brand-facebook",
		name: "Facebook",
	},
	{
		link: "https://twitter.com/xirfs",
		icon: "i-myna-brand-x",
		name: "Twitter",
	},
];
---

<Layout title="Andka is xirf, welcome to my home" description="Andika Nur Pratama, a student in Informatics Engineering, technology is my passion and dreaming about a better world with it and making it happen is a dream come true. I am generally into web dev things but over the past few month I have begun learning about android dev using kotlin if you are interested, you can visit my projects here. Ouside coding, I often spend my time playing some non-serious games, watching animes and reading manga if you have any recommendations please don't hesitate to suggest them. I live in Magetan, East Java so in case you're around don't hesitate to contact me, perhaps we'll grab some coffee or do some collaboration.">
	<div class=":uno: flex items-center justify-center h-70vh p-12">
		<div class=":uno: w-full grid gap-6 max-w-xl slide-enter-content">
			<div>
				<h1 class=":uno: @dark:text-#e5e7eb text-4xl font-bold item">Xirf</h1>
			</div>
			<div class=":uno: text-sm grid gap-3">
				<div>
					<p>Hi, I am Andika Nur Pratama</p>
					<p>Currently a student in Informatics Engineering.</p>
				</div>
				<p>
					Technology is my passion and dreaming about a better world with it and making it happen is a dream come true. I am generally into
					web dev things but over the past few month I have begun learning about android dev using kotlin if you are interested, you can
					visit my <a href="/projects" class=":uno: font-bold underline">projects here</a>.
				</p>
				<p>
					Ouside coding, I often spend my time playing some non-serious games, watching animes and reading manga if you have any
					recommendations please don't hesitate to suggest them. I live in Magetan, East Java so in case you're around don't hesitate to
					contact me, perhaps we'll grab some coffee or do some collaboration.
				</p>
			</div>
			<div class=":uno: w-20 h-1px bg-gray opacity-50 mx-auto mt-2"></div>
			<div class=":uno: text-sm">
				<p>Find me on</p>
				<div class=":uno: flex items-start justify-start gap-4 mt-2">
					{
						socialMedia.map((url) => (
							<a href={url.link} class=":uno: flex items-center justify-center gap-2" target="_blank" rel="noopener noreferrer">
								<span class:list={[url.icon, "inline-block", "w-4", "h-4"]} />
								{url.name}
							</a>
						))
					}
				</div>
			</div>
		</div>
	</div>
</Layout>
