---
import Hero from "../components/Home/Hero/Hero.astro";
import Skills from "../components/Home/Skills/Skills.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout pageTitle="Home">
	<Hero />
	<Skills />
	<div class="h-[200vh] dark:bg-primary">asas</div>
</HomeLayout>
