---
import DefautLayout from "../layouts/DefautLayout.astro";

const projects = {
	"Web": [
		{
			name: "ACI",
			description: "Text art generator based on AstroJS and UnoCSS",
			link: "https://aci.andka.me",
			icon: "i-myna-components",
		},
		{
			name: "Musywil Election Vote",
			description: "Election vote system for Muhammadiyah Musywil 16th East Java",
			icon: "i-myna-edit-one",
		},
	],
	"Bot": [
		{
			name: "Simrs Whatsapp BOT",
			description: "Whatsapp bot to facilitate the registration of patients in the hospital",
			icon: "i-myna-heart-x",
		},
		{
			name: "Thesis Whatsapp BOT",
			description: "Whatsapp bot to facilitate communication between students and lecturers",
			icon: "i-myna-academic-hat",
		},
		{
			name: "Bots",
			description: "Multipurpose whatsapp bot based on baileys",
			link: "https://github.com/xirf/bots",
			icon: "i-myna-daze-square",
		},
	],
	"CLI": [
		{
			name: "YAPH",
			description: "Download youtube playlist with ease",
			link: "https://github.com/xirf/yaph",
			icon: "i-myna-cloud-download",
		},
		{
			name: "Demail",
			description: "CLI to delete email from your inbox",
			link: "https://github.com/xirf/demail",
			icon: "i-myna-at",
		},
		{
			name: "Youtube Search Survey",
			description: "CLI get stats of topic from youtube search",
			link: "https://github.com/xirf/YouTube-search-survey",
			icon: "i-myna-layers-three",
		},
	],
};
---

<DefautLayout maxWidth="max-w-6xl" title="Projects=">
	<main class="grid gap-12 my-32">
		<div>
			<h1>
				<span class="text-4xl font-bold font-lexend">Projects</span>
				<span class="font-light font-mono">Check out my projects</span>
			</h1>
			<p class="max-w-3xl mt-4 text-gray-500">
				This is a list of my projects and work i have done. Some projects are in private repository but i had permission to show it here. If
				you want to see more of my projects, you can check my <a
					href="https://github.com/xirf"
					target="_blank"
					rel="noopener noreferrer"
					class="text-blue-500">github</a
				>.
			</p>
		</div>
		<div class="flex flex-col gap-12 w-full items-center">
			{
				Object.keys(projects).map((el: any) => (
					<div class="grid gap-4">
						<h2 class="text-xl font-bold font-lexend">{el}</h2>
						<div class="grid grid-cols-3 gap-4">
							{projects[el as keyof typeof projects].map((project: any) => (
								<a
									href={project.link || "#"}
									target="_blank"
									rel="noopener noreferrer"
									class={project.link ? "cursor-pointer" : "cursor-not-allowed"}>
									<div class="flex flex-col gap-8 opacity-75 duration-500 transition-all bg-transparent p-4 rounded-xl hover:(opacity-100 bg-gray-100 bg-opacity-5)">
										<div class="flex gap-4 items-center">
											<i class={`${project.icon} w-12 h-12 shrink-0 opacity-50`} />
											<div class="flex flex-col">
												<h1 class="font-bold text-lg">{project.name}</h1>
												<p class="text-gray-500 text-sm">{project.description}</p>
											</div>
										</div>
									</div>
								</a>
							))}
						</div>
					</div>
				))
			}
		</div>
	</main>
</DefautLayout>
