---

---

<div class="w-full p-20 flex flex-col gap-32 relative">
	<div class="max-w-3xl m-auto gap-8 flex flex-col">
		<h1 class="text-5xl font-bold font-heading">Who Am I?</h1>
		<section class="text-xl font-300 flex flex-col gap-4 pl-8">
			<p>
				I'm <span class="text-purple">Andika Nur Pratama</span> from East Java, Indonesia, and I began my journey in 2019. Currently, I'm
				pursuing my education at the University of Muhammadiyah Ponorogo, specializing in Informatics Engineering.
			</p>
			<p>
				My inherent curiosity drives me to continuously explore new horizons, particularly in the realm of technology. I'm perpetually on the
				lookout for fresh knowledge and opportunities to expand my expertise.
			</p>
			<p>
				Fueled by a fervor for personal development and a deep passion for software development, I am prepared to apply my coding skills to
				contribute to a dynamic engineering team, crafting high-quality solutions.
			</p>
		</section>
	</div>
	<div class="absolute grid grid-cols-2 grid-rows-2 right-20 bottom-0">
		<div
			style="
		mask-image: radial-gradient(circle at top right, #7347a612, #fff0);
		-webkit-mask-image: radial-gradient(circle at top right, #7347a612, #fff0);
		">
			<div class="h-24 w-24 rounded-lg bg-purple border-2 border-#fff"></div>
		</div>
		<div></div>
		<div></div>
		<div
			style="
		mask-image: radial-gradient(circle at bottom left, #7347a612, #fff0);
		-webkit-mask-image: radial-gradient(circle at bottom left, #7347a612, #fff0);
		">
			<div class="h-24 w-24 border-2 border-#fff bg-purple"></div>
		</div>
	</div>
	
</div>
