---

---

<div class="w-full flex flex-col items-center justify-center p-32 pb-46 gap-8 relative mt-8">
	<h1 class="text-6xl font-bold font-heading">Let's get in touch!</h1>
	<section class="grid gap-2 text-center">
		<p class="text-2xl font-300 w-full">Work with me, or just say hi! I'd love to hear from you.</p>
		<p class="font-300 w-full max-w-3xl opacity-50">
			I'm currently available for freelance work. If you have a project that you want to get started, think you need my help with something or
			just fancy saying hey, then get in touch.
		</p>
	</section>
	<a href="mailto:andikacahargen2@gmail.com">
		<div class="p-2px bg-gradient-to-l from-#b56cfd to-#7558b8 rounded-full w-fit">
			<div class="px-12 py-4 bg-gradient-to-l from-#9d53d6 to-#6245b7 rounded-full text-xl">Email me</div>
		</div>
	</a>
	<div
		class="flex items-center justify-center p-8 text-center bg-#ffffff08 w-full absolute bottom-0 left-0 backdrop-blur-sm border-t-1px border-#ffffff10">
		<p>
			MIT License &copy; {new Date().getFullYear()} Andka Tama<br />
			 Made with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a> and <a
				href="https://https://unocss.dev/"
				target="_blank"
				rel="noopener noreferrer">UnoCSS</a
			>
		</p>
	</div>

	<div class="absolute left-0 top-0 w-32 h-32 bg-purple blur-200"></div>

	<svg
		class="fill-#ffffff05 absolute top-0 left-0 w-full h-full -z-50"
		aria-hidden="true"
		style="
		mask-image: linear-gradient(to top, #fff 70%, #fff0);
		-webkit-mask-image: linear-gradient(to top, #fff 70%, #fff0);">
		<defs>
			<pattern id="pattern" width="100" height="100" x="50%" y="-1" patternUnits="userSpaceOnUse" fill="white">
				<path d="M.5 200V.5H200" fill="none" stroke="#ffffff10"> </path>
			</pattern>
		</defs>
		<svg x="50%" y="-1" class="overflow-visible">
			<path d="M-100 100h101v101h-101Z M600 0h101v101h-101Z M-700 200h101v101h-101Z M300 400h101v101h-101Z" stroke-width="0"></path>
		</svg>
		<rect width="100%" height="100%" stroke-width="0" fill="url(#pattern)"> </rect>
	</svg>
</div>
