---
const links = [
	{ href: "/about", text: "About" },
	{ href: "/blog", text: "Blog" },
	{ href: "/contact", text: "Contact" },
];
---

<header class="py-8 px-4 flex items-center justify-between max-w-7xl mx-auto">
	<div>
		<a href="/">
			<div role="img" aria-label="Andka Logo" aria-hidden="true" class="text-3xl flex items-center gap-2">
				<span class="i-charm-plant-pot text-lime-600"></span>
				<span class="text-xl font-medium font-lexend">Andka</span>
			</div>
		</a>
	</div>
	<nav class="font-medium flex items-center gap-12">
		{
			links.map(({ href, text }) => (
				<a href={href}>
					<span>{text}</span>
				</a>
			))
		}
	</nav>
</header>
