---
import IconPlosion from "./IconPlosion.astro";
---

<section class="w-full max-w-7xl m-auto flex items-center justify-center p-12 min-h-2xl">
	<div class="flex items-center justify-center text-center flex-col gap-4">
		<h2 class="text-sm text-pink-400 bg-pink-100 rounded-full px-8 py-2 font-medium font-lexend">My Journey to Developer Enlightenment</h2>
		<h1 class="text-7xl font-lexend font-bold max-w-4xl text-center leading-snug">
			From <span class="text-yellow-500">Spaghetti</span> <span class="font-mono text-gray-600">Code</span> to <span class="relative text-white"
				><span class="absolute top-15% -left-5% -rotate-3deg w-110% h-80% bg-pink -z-10"></span>Unicorn</span
			> Sprinkles<span class="text-blue">.</span>
		</h1>
		<p class="max-w-36rem text-sm font-lexend opacity-50">
			Becoming a developer is a long and winding road, and it's easy to get lost along the way. detours abound, bugs bite, and syntax snarls.
			But with each keystroke, I forge a path, one line of code at a time.
		</p>
	</div>
</section>

<IconPlosion class="absolute top-0 left-0 w-full h-full" />
