<div class="p-18 max-w-screen-xl m-auto relative">
	<div class="flex">
        <div class="flex-grow">
            The Jurney i
        </div>
        <div>
            
        </div>
    </div>
</div>
 