---
---

<div class="w-full text-center items-center flex flex-col">
	<h3 class="text-5xl font-extrabold">
		Spreading
		<span class="strkd">The Joy</span>
	</h3>
	<p class="mb-5 max-w-3xl mt-10 mt-2 dark:text-gray-200 font-extralight">
		In my free time, I love sharing my knowledge about programming through writing posts. I
		wanna helps others understand how fun and inspiring coding can be, and also allows me to
		improve my own skills.
	</p>
</div>
