---
---

<div class="w-full text-center items-center flex flex-col">
	<h3 class="text-5xl font-extrabold">
		A
		<span class="strkd">Bright</span>
		and
		<span class="strkd">Happy</span>
		Project
	</h3>
	<p class="mb-5 max-w-3xl mt-10 dark:text-gray-200 font-extralight">
		Get a glimpse into my world of programming and see the dedication and hard work that has
		gone into my project. From the initial concept to the final product, I have poured my heart
		and soul into creating something truly special
	</p>
</div>
