---

---

<footer class="py-4">
	<p class="px4 text-xs text-center">
		<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="external nofollow noopener noreferrer" class="underline">CC BY-NC-SA 4.0 ➚</a>  2023-PRESENT © Andka | <a href="/privacy " class="underline">Privacy Policy</a> | <a href="https://status.andka.my.id/" target="_blank" rel="external nofollow noopener noreferrer" class="underline">Status ➚</a>
	</p>
</footer>
