---
const today = new Date();
---

<footer>
	<p class="text-xs text-center opacity-50"> Licensed under <a href="https://mit-license.org/" class="underline">MIT License</a> &middot; Project source code available on <a href="https://github.com/xirf/xirf-portofolio" class="underline">GitHub Repo</a > </p>
</footer>
