---

---

<button
	class="toggle-theme flex items-center"
	id="toggle-theme"
	aria-label="Toggle theme"
	title="Toggle theme"
>
	<div class="w5 h5 i-myna-moon dark:(i-myna-sun w5 h5)"></div>
</button>

<script is:inline>
	document.addEventListener("astro:page-load", () => {
		let theme = localStorage.getItem("isDarkMode") || "auto";
		let windowTheme = window.matchMedia(
			"(prefers-color-scheme: dark)",
		).matches;
		let isDarkMode = theme === "true" || (theme === "auto" && windowTheme);

		document.documentElement.classList.toggle("dark", isDarkMode);
		localStorage.setItem("isDarkMode", isDarkMode.toString());

		function toggleDarkMode() {
			const canTransition =
				document.startViewTransition &&
				!window.matchMedia("(prefers-reduced-motion: reduce)").matches;
			let isDark = !document.documentElement.classList.contains("dark");

			if (!canTransition) {
				document.documentElement.classList.toggle("dark", isDark);
				localStorage.setItem("isDarkMode", isDark);
				return;
			}

			document.startViewTransition(() => {
				document.documentElement.classList.toggle("dark", isDark);
				localStorage.setItem("isDarkMode", isDark);
			});
		}

		document
			.getElementById("toggle-theme")
			.addEventListener("click", toggleDarkMode);
	});

	document.addEventListener("astro:after-swap", () => {
		let isDark = localStorage.getItem("isDarkMode") === "true";
		document.documentElement.classList.toggle("dark", isDark);
	});
</script>
