---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BaseNavbar from "../components/BaseNavbar.astro";
import DefautLayout from "./DefautLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;

const slug = title.toLowerCase().split(" ").join("-").replace(/[^a-z0-9-]/g, "")

---

<DefautLayout title={`blog/${slug.length > 10 ? "..."+slug.slice(-7) : slug}`}>
	<main>
		<article class="my-12">
			<div class="prose">
				<div class="title">
					<h1 class="text-4xl">{title}</h1>
					<div class="text-lg text-gray-500">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<hr />
				</div>
				<slot />
			</div>
		</article>
	</main>
</DefautLayout>
