---
interface Astro {
	props: {
		title: string;
		parentClass?: string;
	};
}

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const { title, parentClass } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description="Web development portfolio of Xirf" />
	</head>
	<body class:list={["bg-#ebeef5 text-#3b3b3b @dark:bg-#111215 @dark:text-#9ca3af", parentClass]}>
		<Header />
		<slot />
	</body>
</html>
