---
import BaseHead from "../components/BaseHead.astro";
import BaseNavbar from "../components/BaseNavbar.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts.ts";

const { maxWidth, title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="px-12 text-gray-400 bg-#111215">
		<BaseNavbar title={title} />
		<div class={`${maxWidth || "max-w-3xl"} m-auto grid gap-16`}>
			<slot />
		</div>
		<Footer />
	</body>
</html>
