---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Xirf</title>
	</head>
	<body>
		<div class="p-1.5rem max-w-6xl mx-auto border-1px">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: "Outfit", system-ui, sans-serif;
		background-color: hsl(224, 10%, 10%);
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<script is:inline></script>
