---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet" />
		<style>
			html {
				font-family: "Inter", "Inter UI", Helvetica, Arial, sans-serif;
			}
		</style>
		<title>{title}</title>
	</head>
	<body class="overflow-x-hidden">
		<div class="max-w-7xl m-auto min-h-screen px-10 w-full">
			<slot />
		</div>
	</body>
</html>
